*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    display: flex;
    height: 60px;
    background-color:#0f1111 ;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width:110px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    padding-top: 2px;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
 }
 .border:hover{
    border: 2px solid white;
 }
 /* box2*/
 .add1{
    margin-left: 26px;
    color: #cccccc;
    font-size: o.8rem;
 }
 .add2{
    margin-left: 5px;
    font-size: 1rem;
 }
 .loc-icon{
    display: flex;
    margin-left: 8px;
 }
 /* box 3 search*/
 .nav-search{
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-evenly;
 }
 .searchinput{
    width: 620px;
    height: 40px;
   padding: 0px;
   border: none;
 }
 .nav-search:hover{
   border:2px solid orange;
   border-radius: 4px;
 }
 .search{
    width: 52px;
    height: 40px;
    border-bottom-left-radius: 4px; border: none;
    border-top-left-radius: 4px;
    background-color: #e6e6e6;
    text-align: center;
    font-size: 1rem;
 }
 .search-icon{
    display: flex;
    height: 40px; width: 45px; background-color: #fff; 
    color:#0f1111;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68;
   }
   /* boox 4 acc*/
   span{
      font-size:0.7rem ;
   }
   .nav-sign{
         font-size:0.9rem;
         font-weight: 700;
      }
      /**box 5 cart**/
      .nav-cart i {
         font-size: 30px;
       }
       .nav-cart{
         font-size: 0.9rem;
         font-weight:700 ;
       }
       /**panel**/
       .panel{
         background-color: #232f3e;
         height: 39px;
         display: flex;
         color: #ffffff;
         align-items: center;
         justify-content: space-evenly;
      }
      .pan-ops p {
         display:inline;
         color: #ffffff;
         margin: 9px;
         }
         .pan-ops{
            width: 90%;
            font-size: 0.9rem;
         }
         /**hero section **/

         .hero-section{
            display: flex;
            background-image: url("hero_image.jpg");
            background-size: cover;
            height: 340px;
            align-items: flex-end;
            justify-content: center;
         }
         .hero-mess{
            display: flex;
            background-color: white;
            height: 40px;
            width:96.6%;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
            margin-bottom: 28px;
         }
         .hero-mess a  {
            color:#007185;
            text-decoration: none;
         }
         /**shop section**/
         .shop-section{
            display: flex;
            justify-content: space-evenly;
            background-color: rgba(25, 122, 196, 0.954);
         }
         .box{
            height: 380px;
            width:23%;
            background-color: white;
            padding: 20px 0px 15px;
            margin-top: 28px;
                 }
         
         .b2-img{
            height:300px;
            background-size: cover;
            margin-top: 1rem;
            margin-bottom: 1rem;
            
         }
         .sb-content{
            margin-left: 1rem;
            margin-right: 1rem;
            
         }
         .sb-content p{
          color: #007185;
         }
         .sb-content a {
            text-decoration: none;
         }


         /**links to real site in panel**/
         .pan-ops a {
            color: white;
             text-decoration:none ;
         }
         /**footer**/
         footer{
            margin-top: 28px;
         }
         .ft-panel1{
            display: flex;
            background-color:#37475a ;
            color: white;
            height: 50px;
            align-items: center;
            justify-content: center;
            font-size: 0.9rem;
            font-weight: 500;
         }
         .ft-panel2{
            display: flex;
            background-color: #232f3e;
            color: white;
            height: 360px;
            justify-content: space-evenly;
            
         }
         .ft-panel2 h4{
            margin-top: 40px;
         }
         .ft-panel2 a {
            color: #DDDDDD;
            text-decoration: none;
         }
         .ft-panel2 a:hover{
            text-decoration: underline;
         }
         ul a{
            display: block;
            margin-top: 15px;
            font-size: 0.9rem;
            }

            .ft-panel3{
               display: flex;
               background-color: #232f3e;
               border-top: 0.3px solid grey;
               height: 70px;
               justify-content: center;
               align-items: center;
            }
            .logo{
               background-image: url("amazon_logo.png");
               background-size: cover;
               height: 50px;
               width: 100px;
               }
               .ft-panel4{
                   background-color: #131a22;
                  height: 65px;
                  color: white;
                 }
                 .copyright{
                  text-align: center;
                  padding-top: 10px;
                 }
                 .copyright a  {
                  font-size: 0.75rem;
                  color: white;
                  text-decoration: none;
                  
                 }
                 .message{
                  padding-top:5px;
                  font-size: 0.75rem;
                  text-align: center;
                 }
                 .message a{
                  margin-top: 40px;
                  color: white;
                  text-decoration: none;
                 }
                 .copyright a:hover{
                  text-decoration: underline;
                 }
                 .message a:hover{
                  font-size: 0.85rem;
                  font-weight: 500;
                 }
                
                 html,body{
                  height:100%;
                 }